.outer-orbit
{
  z-index:-1000;
  opacity:1;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 335px;
  border: 2px #4A437F none;
  border-radius: 100%;
}

.inner-orbit
{
    z-index:1000;
    opacity:1;
    position: fixed;
    max-height:50px;
}


/*==============*/
/*Class Testing*/
/*==============*/


.outer-orbit-tes-330 {
  position: absolute;
  top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color:red;
  z-index:10000;
  animation: spin-right-330 12s both ;
  -webkit-animation: spin-right-330 12s both ;
}

.outer-orbit-tes-300 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-300 11s both ;
  -webkit-animation: spin-right-300 11s both ;
}

.outer-orbit-tes-270 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-270 10s both ;
  -webkit-animation: spin-right-270 10s both ;
}

.outer-orbit-tes-240 {
  position: absolute;
 top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-240 9s both ;
  -webkit-animation: spin-right-240 9s both ;
}

.outer-orbit-tes-210 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-210 8s both ;
  -webkit-animation: spin-right-210 8s both ;
}

.outer-orbit-tes-180 {
  position: absolute;
  top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-180 7s both ;
  -webkit-animation: spin-right-180 7s both ;
}

.outer-orbit-tes-150 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-150 6s both ;
  -webkit-animation: spin-right-150 6s both ;
}

.outer-orbit-tes-120 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-120 4s both ;
  -webkit-animation: spin-right-120 4s both ;
}

.outer-orbit-tes-90 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-90 3s both ;
  -webkit-animation: spin-right-90 3s both ;
}

.outer-orbit-tes-60 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-60 2s both ;
  -webkit-animation: spin-right-60 2s both ;
}

.outer-orbit-tes-30 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-30 1s both ;
  -webkit-animation: spin-right-30 1s both ;
}

.outer-orbit-tes-0 {
  position: absolute;
   top: -15px;
  left: 152px;
  height: 30px;
  width: 30px;
  border-radius:100%;
  color:red;
  z-index:10000;
  animation: spin-right-0 0s both ;
  -webkit-animation: spin-right-0 0s both ;
}

/*=================*/
/*End Class Testing*/
/*=================*/


.rotation-330 {
  opacity:1;
  animation: spin-right-330 0.1s both ;
  -webkit-animation: spin-right-330 0.1s both ;
}

.rotation-300 {
    opacity:1;
  animation: spin-right-300 0.1s both ;
  -webkit-animation: spin-right-300 0.1s both ;
}

.rotation-270{
 opacity:1;
  animation: spin-right-270 0.1s both ;
  -webkit-animation: spin-right-270 0.1s both ;
}

.rotation-240 {
    opacity:1;
  animation: spin-right-240 0.1s both ;
  -webkit-animation: spin-right-240 0.1s both ;
}

.rotation-210 {
    opacity:1;
  animation: spin-right-210 0.1s both ;
  -webkit-animation: spin-right-210 0.1s both ;
}

.rotation-180 {
    opacity:1;
  animation: spin-right-180 0.1s both ;
  -webkit-animation: spin-right-180 0.1s both ;
}

.rotation-150 {
    opacity:1;
  animation: spin-right-150 0.1s both ;
  -webkit-animation: spin-right-150 0.1s both ;
}

.rotation-120 {
    opacity:1;
  animation: spin-right-120 0.1s both ;
  -webkit-animation: spin-right-120 0.1s both ;
}

.rotation-90 {
    opacity:1;
  animation: spin-right-90 0.1s both ;
  -webkit-animation: spin-right-90 0.1s both ;
}

.rotation-60 {
    opacity:1;
  animation: spin-right-60 0.1s both ;
  -webkit-animation: spin-right-60 0.1s both ;
}

.rotation-30 {
    opacity:1;
  animation: spin-right-30 0.1s both ;
  -webkit-animation: spin-right-30 0.1s both ;
}

.rotation-0 {
    opacity:1;
  animation: spin-right-0 0.1s both ;
  -webkit-animation: spin-right-0 0.1s both ;
}



.orbit-0 {
    opacity:1;
  -webkit-animation: spin-left-0 0.1s both;
  animation: spin-left-0 0.1s both ;
}
.orbit-30{
    opacity:1;
  -webkit-animation: spin-left-30 0.1s both;
  animation: spin-left-30 0.1s both;
}
.orbit-60{
    opacity:1;
  -webkit-animation: spin-left-60 0.1s both;
  animation: spin-left-60 0.1s both ;
}
.orbit-90 {
    opacity:1;
  -webkit-animation: spin-left-90 0.1s both;
  animation: spin-left-90 0.1s both ;
}
.orbit-120 {
    opacity:1;
  -webkit-animation: spin-left-120 0.1s both;
  animation: spin-left-120 0.1s both ;
}
.orbit-150 {
    opacity:1;
  -webkit-animation: spin-left-150 0.1s both;
  animation: spin-left-150 0.1s both ;
}
.orbit-180{
    opacity:1;
  -webkit-animation: spin-left-180 0.1s both;
  animation: spin-left-180 0.1s both ;
}
.orbit-210 {
    opacity:1;
  -webkit-animation: spin-left-210 0.1s both;
  animation: spin-left-210 0.1s both ;
}
.orbit-240 {
    opacity:1;
  -webkit-animation: spin-left-240 0.1s both;
  animation: spin-left-240 0.1s both ;
}
.orbit-270{
    opacity:1;
  -webkit-animation: spin-left-270 0.1s both;
  animation: spin-left-270 0.1s both ;
}
.orbit-300 {
    opacity:1;
  -webkit-animation: spin-left-300 0.1s both;
  animation: spin-left-300 0.1s both ;
}
.orbit-330 {
    opacity:1;
  -webkit-animation: spin-left-330 0.1s both;
  animation: spin-left-330 0.1s both ;
}




@-webkit-keyframes spin-left-330 {
    0%
    {
        -webkit-transform: rotate(-300deg);
    -moz-transform: rotate(-300deg);
    -ms-transform: rotate(-300deg);
    -o-transform: rotate(-300deg);
    transform: rotate(-300deg);
    }
  100% {
    -webkit-transform: rotate(-330deg);
    -moz-transform: rotate(-330deg);
    -ms-transform: rotate(-330deg);
    -o-transform: rotate(-330deg);
    transform: rotate(-330deg);
  }
}
@-webkit-keyframes spin-left-300 {
    0%
    {
        -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
    }
  100% {
    -webkit-transform: rotate(-300deg);
    -moz-transform: rotate(-300deg);
    -ms-transform: rotate(-300deg);
    -o-transform: rotate(-300deg);
    transform: rotate(-300deg);
  }
}
@-webkit-keyframes spin-left-270 {
    0%
    {
        -webkit-transform: rotate(-240deg);
    -moz-transform: rotate(-240deg);
    -ms-transform: rotate(-240deg);
    -o-transform: rotate(-240deg);
    transform: rotate(-240deg);
    }
  100% {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}
@-webkit-keyframes spin-left-240 {
    0%
    {
        -webkit-transform: rotate(-210deg);
    -moz-transform: rotate(-210deg);
    -ms-transform: rotate(-210deg);
    -o-transform: rotate(-210deg);
    transform: rotate(-210deg);
    }
  100% {
    -webkit-transform: rotate(-240deg);
    -moz-transform: rotate(-240deg);
    -ms-transform: rotate(-240deg);
    -o-transform: rotate(-240deg);
    transform: rotate(-240deg);
  }
}
@-webkit-keyframes spin-left-210 {
    0%
    {
        -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    }
  100% {
    -webkit-transform: rotate(-210deg);
    -moz-transform: rotate(-210deg);
    -ms-transform: rotate(-210deg);
    -o-transform: rotate(-210deg);
    transform: rotate(-210deg);
  }
}
@-webkit-keyframes spin-left-180 {
    0%
    {
        -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    transform: rotate(-150deg);
    }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes spin-left-150 {
    0%
    {
        -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    transform: rotate(-120deg);
    }
  100% {
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    transform: rotate(-150deg);
  }
}
@-webkit-keyframes spin-left-120 {
    0%
    {
        -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    }
  100% {
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    transform: rotate(-120deg);
  }
}
@-webkit-keyframes spin-left-90 {
    0%
    {
        -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    }
  100% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes spin-left-60 {
    0%
    {
        -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    }
  100% {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
}
@-webkit-keyframes spin-left-30 {
  100% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}
@-webkit-keyframes spin-left-0 {
  100% {
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    transform: rotate(-0deg);
  }
}

@-webkit-keyframes spin-right-330 {
    0%
    {
        -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    transform: rotate(300deg);
    }
  100% {
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    transform: rotate(330deg);
  }
}
@-webkit-keyframes spin-right-300 {
  100% {
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    transform: rotate(300deg);
  }
}
@-webkit-keyframes spin-right-270 {
    0%
    {
        -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
    }
  100% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-webkit-keyframes spin-right-240 {
    0%
    {
        -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg);
    }
  100% {
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
  }
}
@-webkit-keyframes spin-right-210 {
    0%
    {
        -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    }
  100% {
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg);
  }
}
@-webkit-keyframes spin-right-180 {
    0%
    {
        -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
    }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes spin-right-150 {
    0%
    {
        -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    }
  100% {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
  }
}
@-webkit-keyframes spin-right-120 {
    0%
    {
        -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    }
  100% {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
  }
}
@-webkit-keyframes spin-right-90 {
    0%
    {
        -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes spin-right-60 {
    0%
    {
        -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }
}
@-webkit-keyframes spin-right-30 {
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-webkit-keyframes spin-right-0 {
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}